In [7]:
# create a series of top 5 programming languages 

import pandas as pd
import datetime as dt
s=pd.Series(["Python","Java","C","C#","Angular"])
print(s)

0     Python
1       Java
2          C
3         C#
4    Angular
dtype: object

In [8]:
# select top 2 programming languages in above series
print(s[:2])

0    Python
1      Java
dtype: object

In [3]:
# start reindexing the above series from 1 - now it is starting from 0

output must be now

1 python
2 JAVA
3 C#
4 ..
5 ..

In [9]:
li=[1,2,3,4,5]
s.index=li
print(s)

1     Python
2       Java
3          C
4         C#
5    Angular
dtype: object

In [20]:
# 1.read the file market_fact.csv and cust_Dimen.csv into a dataframe 
#2. merge the 2 dataframe as master_sample
#3. create the pivot table ( refer google ) so that we require output as 
# 3a. area wise province in rows and sales in column
# sample
#          sales 
# province 

df1=pd.read_csv("../market_fact.csv")
df2=pd.read_csv("../cust_dimen.csv")
master_sample=pd.merge(df1,df2,how="inner",on= "Cust_id")
pd.pivot_table(master_sample,index=["Province"],values=["Sales"])

                             Sales
Province
ALBERTA                1970.857215
BRITISH COLUMBIA       1680.957180
MANITOBA               1731.209057
NEW BRUNSWICK          2118.301930
NEWFOUNDLAND           1255.171555
NORTHWEST TERRITORIES  2032.607435
NOVA SCOTIA            1762.347764
NUNAVUT                1473.120044
ONTARIO                1677.553384
PRINCE EDWARD ISLAND   1940.204976
QUEBEC                 1933.668476
SASKACHEWAN            1604.004183
YUKON                  1800.493304

In [28]:
# table of countof prodid with province
# ex :     province
# prod_id (count of product orderes)

# ex : 
          #ALBERTA    # BRITISH COLUMBIA
# prod_1   34              89      
import numpy as np
#pd.pivot_table(master_sample,index=["Province"],values=["Prod_id"],aggfunc=[len])
pd.pivot_table(master_sample,index=["Province"],columns=["Prod_id"],values=["Ord_id"],aggfunc=[len])

                         len                                                  \
                      Ord_id
Prod_id               Prod_1 Prod_10 Prod_11 Prod_12 Prod_13 Prod_14 Prod_15
Province
ALBERTA                 38.0    25.0    34.0    35.0    66.0    14.0    37.0
BRITISH COLUMBIA        62.0    27.0    38.0    35.0    73.0    10.0    56.0
MANITOBA                54.0    17.0    35.0    25.0    54.0     6.0    38.0
NEW BRUNSWICK           23.0     9.0    10.0    13.0    20.0     4.0     8.0
NEWFOUNDLAND             5.0     5.0     2.0     NaN    10.0     NaN     2.0
NORTHWEST TERRITORIES   32.0    11.0    12.0    17.0    26.0     3.0    24.0
NOVA SCOTIA             31.0    11.0    26.0    14.0    37.0     4.0    22.0
NUNAVUT                  6.0     2.0     1.0     4.0     4.0     1.0     5.0
ONTARIO                114.0    35.0    80.0    50.0   138.0    13.0    98.0
PRINCE EDWARD ISLAND     7.0     4.0     7.0     6.0    20.0     8.0    10.0
QUEBEC                  63.0    17.0    48.0    31.0    71.0    10.0    35.0
SASKACHEWAN             65.0    12.0    34.0    42.0    67.0     8.0    38.0
YUKON                   46.0    14.0    34.0    16.0    47.0     6.0    13.0

                                                                          \

Prod_id               Prod_16 Prod_17 Prod_2 Prod_3 Prod_4 Prod_5 Prod_6
Province
ALBERTA                  15.0    39.0   41.0   89.0  109.0   75.0  140.0
BRITISH COLUMBIA         27.0    44.0   50.0  131.0  118.0  113.0  174.0
MANITOBA                 15.0    37.0   36.0   94.0   79.0   74.0  112.0
NEW BRUNSWICK             5.0    12.0   23.0   33.0   35.0   36.0   53.0
NEWFOUNDLAND              1.0     3.0    2.0   10.0   11.0    6.0   12.0
NORTHWEST TERRITORIES     9.0    23.0   17.0   46.0   41.0   38.0   43.0
NOVA SCOTIA               4.0    20.0   27.0   48.0   54.0   41.0   60.0
NUNAVUT                   1.0     NaN    6.0   10.0    9.0    5.0   15.0
ONTARIO                  30.0    63.0  108.0  192.0  182.0  178.0  270.0
PRINCE EDWARD ISLAND      2.0     5.0   12.0   28.0   17.0   30.0   26.0
QUEBEC                   10.0    24.0   34.0   91.0   79.0   70.0  104.0
SASKACHEWAN              17.0    36.0   44.0  100.0   96.0   73.0  146.0
YUKON                     8.0    31.0   34.0   43.0   53.0   49.0   70.0



Prod_id               Prod_7 Prod_8 Prod_9
Province
ALBERTA                 15.0   68.0   25.0
BRITISH COLUMBIA        26.0  105.0   37.0
MANITOBA                17.0   77.0   23.0
NEW BRUNSWICK            6.0   27.0    6.0
NEWFOUNDLAND             3.0    6.0    4.0
NORTHWEST TERRITORIES   10.0   33.0    9.0
NOVA SCOTIA             11.0   42.0   12.0
NUNAVUT                  2.0    6.0    2.0
ONTARIO                 41.0  179.0   55.0
PRINCE EDWARD ISLAND     1.0   20.0    8.0
QUEBEC                  15.0   58.0   21.0
SASKACHEWAN             21.0   89.0   25.0
YUKON                   11.0   48.0   19.0

In [30]:
# which customer has made the maximum sales

print(" maximum sales  ",master_sample.loc[(master_sample['Sales']==master_sample['Sales'].max())][['Cust_id','Sales']])

 maximum sales           Cust_id     Sales
2738  Cust_1151  89061.05

In [32]:
# combine all the files - market, cust_dimen , order_dimen, product_dimen , shippin dimen and name it as master dataframe

market_df=pd.read_csv("../market_fact.csv")
custDimen_df=pd.read_csv("../cust_dimen.csv")
prodDimen_df=pd.read_csv("../prod_dimen.csv")
ordersDimen_df=pd.read_csv("../orders_dimen.csv")
shippingDimen_df=pd.read_csv("../shipping_dimen.csv")

In [33]:
# From now on consider only master table for data slicing
df1=pd.merge(market_df,custDimen_df,how="inner",on="Cust_id")
df2=pd.merge(df1,prodDimen_df,how="inner",on="Prod_id")
df3=pd.merge(df2,ordersDimen_df,how="inner",on="Ord_id")
master_df=pd.merge(df3,shippingDimen_df,how="inner",on="Ship_id")
print(master_df.shape)

(8399, 22)

In [34]:
# how many low, medium and high priority customers are there  ?
print( master_df.groupby(["Order_Priority"])["Order_Priority"].count())

Order_Priority
CRITICAL         1608
HIGH             1768
LOW              1720
MEDIUM           1631
NOT SPECIFIED    1672
Name: Order_Priority, dtype: int64

In [35]:
# which kind of delivery ussually customers prefer : give your analysis by seeing the count of delivery type
print(master_df.groupby(["Ship_Mode"])["Ship_Mode"].count())

# analysi s : air delivery is the one people prefer more - analysing it might be for the fast delivery
# we can also look for delivery time and shipping cost for further analysis

Ship_Mode
DELIVERY TRUCK    1146
EXPRESS AIR        983
REGULAR AIR       6270
Name: Ship_Mode, dtype: int64

In [36]:
# how many customers has purchased product1 in 'west' region?
print(master_df.loc[(master_df['Prod_id']=="Prod_1") & (master_df["Region"]=="WEST")]["Cust_id"].count())

100

In [38]:
# which customer segment are more in "nunavat" region?
custsegment=master_df[(master_df['Region']=='NUNAVUT')].groupby(["Customer_Segment"])['Customer_Segment'].count()
print("Highest Customer Segment in Nunavat is  ",custsegment.idxmax()," and count is ",custsegment.max())

Highest Customer Segment in Nunavat is   CORPORATE  and count is  35

In [39]:
# list all the customers whose name starts with letter 'J'
print("Customer Name starting  with J are ",master_df.loc[(master_df['Customer_Name'].str.startswith('J'))]['Customer_Name'])

Customer Name starting  with J are  131      JASON KLAMCZYNSKI
132      JASON KLAMCZYNSKI
133        JASPER CACIOPPO
134        JASPER CACIOPPO
135        JASPER CACIOPPO
               ...
8197    JUSTIN MACKENDRICK
8198    JUSTIN MACKENDRICK
8384           JACK LEBRON
8385           JACK LEBRON
8386            JULIE KRIZ
Name: Customer_Name, Length: 785, dtype: object

In [40]:
# CREATE A DATAFRAME WITH PRODUCTID AND TOTAL SALES
ProductSales=master_df.groupby(["Prod_id"])["Sales"].sum()
ProductSales

Prod_id
Prod_1     1070182.600
Prod_10     822652.040
Prod_11    1896008.142
Prod_12      38981.550
Prod_13     167107.220
Prod_14    1130361.300
Prod_15    1761836.550
Prod_16      80996.310
Prod_17    2168697.140
Prod_2      736991.540
Prod_3     1022957.590
Prod_4     1889313.802
Prod_5      698093.810
Prod_6      446452.860
Prod_7       15006.630
Prod_8      795875.940
Prod_9      174085.800
Name: Sales, dtype: float64

In [42]:
# CREATE A DATAFRAME WITH PRODUCTID AND TOTAL PROFIT

ProductProfit=master_df.groupby(["Prod_id"])["Profit"].sum()
ProductProfit

Prod_id
Prod_1       6664.15
Prod_10    -33582.13
Prod_11    -99062.50
Prod_12     13677.17
Prod_13      7564.78
Prod_14    167361.49
Prod_15    149649.73
Prod_16     -7799.25
Prod_17    307712.93
Prod_2      97158.06
Prod_3     307413.39
Prod_4     316951.62
Prod_5     100427.93
Prod_6      45263.20
Prod_7       -102.67
Prod_8      94287.48
Prod_9      48182.60
Name: Profit, dtype: float64

In [46]:
# CAN YOU GIVE ANY ANALYSIS ON PRODUCT BASED ON SALES AND PROFIT
# EX : SHALL WE SAY HIGH SALES PRODUCT AS HIGH PROFIT ?


print(" Highest Product sold is {} and Sales happened is {} \n Highest Profit made Product is {} and Profit is {}".format(ProductSales.idxmax(),ProductSales.max(),ProductProfit.idxmax(),ProductProfit.max()))

print(" so we cant say that if sales is high mean to say profit is also more ")

 Highest Product sold is Prod_17 and Sales happened is 2168697.1400000015
 Highest Profit made Product is Prod_4 and Profit is 316951.62
 so we cant say that if sales is high mean to say profit is also more

In [47]:
# GIVE THE DIFFERENCE OF DATE BETWEEN ORDER DATE AND DELIVERY DATE AND PUT IN A DATAFRAME delivery_details
master_df['Ship_Date']=pd.to_datetime(master_df['Ship_Date'], infer_datetime_format=True)
master_df['Order_Date']=pd.to_datetime(master_df['Order_Date'], infer_datetime_format=True)
delivery_details=pd.DataFrame((master_df['Ship_Date'])-(master_df['Order_Date']))
delivery_details.head()

       0
0 1 days
1 0 days
2 1 days
3 2 days
4 6 days

In [55]:
master_df['deliveryDays']=(master_df['Ship_Date'])-(master_df['Order_Date'])
master_df

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Order_Date,Order_Priority,Order_ID_y,Ship_Mode,Ship_Date,deliveryDays
0,Ord_5446,Prod_16,SHP_7609,Cust_1818,136.81,0.01,23,-30.51,3.60,0.56,...,CORPORATE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",36262,2010-07-27,NOT SPECIFIED,36262,REGULAR AIR,2010-07-28,1 days
1,Ord_5446,Prod_4,SHP_7610,Cust_1818,4701.69,0.00,26,1148.90,2.50,0.59,...,CORPORATE,TECHNOLOGY,TELEPHONES AND COMMUNICATION,36262,2010-07-27,NOT SPECIFIED,36262,EXPRESS AIR,2010-07-27,0 days
2,Ord_5446,Prod_6,SHP_7608,Cust_1818,164.02,0.03,23,-47.64,6.15,0.37,...,CORPORATE,OFFICE SUPPLIES,PAPER,36262,2010-07-27,NOT SPECIFIED,36262,EXPRESS AIR,2010-07-28,1 days
3,Ord_2978,Prod_16,SHP_4112,Cust_1088,305.05,0.04,27,23.12,3.37,0.57,...,HOME OFFICE,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",37863,2011-02-24,HIGH,37863,REGULAR AIR,2011-02-26,2 days
4,Ord_5484,Prod_16,SHP_7663,Cust_1820,322.82,0.05,35,-17.58,3.98,0.56,...,CONSUMER,OFFICE SUPPLIES,"SCISSORS, RULERS AND TRIMMERS",53026,2012-02-26,LOW,53026,REGULAR AIR,2012-03-03,6 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8394,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46,...,SMALL BUSINESS,TECHNOLOGY,COPIERS AND FAX,54214,2012-01-02,MEDIUM,54214,EXPRESS AIR,2012-01-05,3 days
8395,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,...,CORPORATE,TECHNOLOGY,COPIERS AND FAX,52035,2009-11-27,HIGH,52035,REGULAR AIR,2009-11-30,3 days
8396,Ord_508,Prod_14,SHP_686,Cust_186,19109.61,0.10,40,-379.29,24.49,0.36,...,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,5988,2010-11-21,NOT SPECIFIED,5988,EXPRESS AIR,2010-11-22,1 days
8397,Ord_3721,Prod_14,SHP_5162,Cust_1309,614.14,0.09,3,-735.27,24.49,0.46,...,HOME OFFICE,TECHNOLOGY,COPIERS AND FAX,27616,2012-07-30,LOW,27616,REGULAR AIR,2012-08-01,2 days
8398,Ord_825,Prod_14,SHP_1132,Cust_247,27663.92,0.05,8,-391.92,24.49,0.37,...,CONSUMER,TECHNOLOGY,COPIERS AND FAX,41895,2011-01-10,CRITICAL,41895,REGULAR AIR,2011-01-12,2 days

In [57]:
# 1.which ord_id has taken highest number of days to deliver the product ?
# 2.which product was that which took highest number of days to deliver?
# 3. which region was that which took highest number of days to deliver?
print(master_df.loc[(master_df['deliveryDays']==master_df.deliveryDays.max())][['Ord_id','deliveryDays','Prod_id','Region']])

       Ord_id deliveryDays  Prod_id Region
566  Ord_4335      92 days  Prod_13  YUKON

In [60]:
master_df['Order_Priority'].unique()

array(['NOT SPECIFIED', 'HIGH', 'LOW', 'MEDIUM', 'CRITICAL'], dtype=object)

In [74]:
master_df[master_df.deliveryDays=='3 days']

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Order_Date,Order_Priority,Order_ID_y,Ship_Mode,Ship_Date,deliveryDays
10,Ord_4796,Prod_13,SHP_6687,Cust_1659,150.06,0.02,49,30.97,0.70,0.56,...,SMALL BUSINESS,OFFICE SUPPLIES,PENS & ART SUPPLIES,55554,2009-11-16,CRITICAL,55554,REGULAR AIR,2009-11-19,3 days
20,Ord_1579,Prod_6,SHP_2177,Cust_566,23.38,0.08,3,-12.19,5.14,0.37,...,SMALL BUSINESS,OFFICE SUPPLIES,PAPER,43367,2010-03-09,CRITICAL,43367,REGULAR AIR,2010-03-12,3 days
63,Ord_4640,Prod_1,SHP_6463,Cust_1597,174.62,0.10,18,-119.77,9.45,0.60,...,CONSUMER,OFFICE SUPPLIES,STORAGE & ORGANIZATION,36647,2009-06-30,HIGH,36647,REGULAR AIR,2009-07-03,3 days
98,Ord_213,Prod_6,SHP_293,Cust_49,140.66,0.00,14,11.34,4.39,0.38,...,CORPORATE,OFFICE SUPPLIES,PAPER,33894,2010-06-14,CRITICAL,33894,REGULAR AIR,2010-06-17,3 days
111,Ord_2981,Prod_15,SHP_4165,Cust_1092,5258.94,0.09,41,-421.76,30.00,0.78,...,SMALL BUSINESS,FURNITURE,CHAIRS & CHAIRMATS,54595,2009-04-28,MEDIUM,54595,DELIVERY TRUCK,2009-05-01,3 days
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8345,Ord_760,Prod_8,SHP_1037,Cust_244,670.94,0.02,15,87.51,1.99,0.55,...,CONSUMER,TECHNOLOGY,COMPUTER PERIPHERALS,21671,2010-06-15,HIGH,21671,REGULAR AIR,2010-06-18,3 days
8355,Ord_5011,Prod_8,SHP_6991,Cust_1705,1617.88,0.00,29,271.90,5.50,0.62,...,SMALL BUSINESS,TECHNOLOGY,COMPUTER PERIPHERALS,51200,2011-11-18,MEDIUM,51200,REGULAR AIR,2011-11-21,3 days
8392,Ord_3073,Prod_14,SHP_4267,Cust_1142,3550.28,0.06,1,-11769.17,24.49,0.37,...,CORPORATE,TECHNOLOGY,COPIERS AND FAX,22917,2009-03-01,MEDIUM,22917,EXPRESS AIR,2009-03-04,3 days
8394,Ord_5018,Prod_14,SHP_7001,Cust_1696,7325.63,0.04,38,1899.23,24.49,0.46,...,SMALL BUSINESS,TECHNOLOGY,COPIERS AND FAX,54214,2012-01-02,MEDIUM,54214,EXPRESS AIR,2012-01-05,3 days
8395,Ord_669,Prod_14,SHP_916,Cust_224,20872.16,0.03,29,-4437.91,24.49,0.41,...,CORPORATE,TECHNOLOGY,COPIERS AND FAX,52035,2009-11-27,HIGH,52035,REGULAR AIR,2009-11-30,3 days

In [72]:
g=master_df.groupby(['Order_Priority'])
g.max()

,Ord_id,Prod_id,Ship_id,Cust_id,Sales,Discount,Order_Quantity,Profit,Shipping_Cost,Product_Base_Margin,...,Region,Customer_Segment,Product_Category,Product_Sub_Category,Order_ID_x,Order_Date,Order_ID_y,Ship_Mode,Ship_Date,deliveryDays
Order_Priority,,,,,,,,,,,,,,,,,,,,,
CRITICAL,Ord_995,Prod_9,SHP_996,Cust_999,41343.21,0.25,50,7858.08,164.73,0.85,...,YUKON,SMALL BUSINESS,TECHNOLOGY,TELEPHONES AND COMMUNICATION,59971,2012-12-29,59971,REGULAR AIR,2012-12-30,84 days
HIGH,Ord_983,Prod_9,SHP_998,Cust_999,28664.52,0.10,50,13340.26,110.20,0.85,...,YUKON,SMALL BUSINESS,TECHNOLOGY,TELEPHONES AND COMMUNICATION,59969,2012-12-29,59969,REGULAR AIR,2012-12-30,3 days
LOW,Ord_999,Prod_9,SHP_988,Cust_999,29884.60,0.10,50,14440.39,147.12,0.85,...,YUKON,SMALL BUSINESS,TECHNOLOGY,TELEPHONES AND COMMUNICATION,59973,2012-12-30,59973,REGULAR AIR,2012-12-30,92 days
MEDIUM,Ord_996,Prod_9,SHP_999,Cust_998,89061.05,0.10,50,27220.69,99.00,0.85,...,YUKON,SMALL BUSINESS,TECHNOLOGY,TELEPHONES AND COMMUNICATION,59942,2012-12-30,59942,REGULAR AIR,2012-12-30,19 days
NOT SPECIFIED,Ord_997,Prod_9,SHP_994,Cust_999,33367.85,0.10,50,11562.08,110.20,0.85,...,YUKON,SMALL BUSINESS,TECHNOLOGY,TELEPHONES AND COMMUNICATION,59911,2012-12-30,59911,REGULAR AIR,2012-12-30,28 days

In [82]:
# what was the maximum number of days taken by the 'high priority' product ?
# what was the maximum number of days taken by the 'not specified' priority product ?
#master_df.loc[master_df['Order_Priority']=='HIGH' & master_df['deliveryDays']== [

print(" for high priority delivery ",master_df.query('Order_Priority=="HIGH" and deliveryDays=="3 days"'))

print(" for not specified delivery orderid and product id is",master_df.query('Order_Priority=="NOT SPECIFIED" and deliveryDays=="28 days"')['Ord_id'])

 for high priority delivery          Ord_id  Prod_id   Ship_id    Cust_id     Sales  Discount  \
63    Ord_4640   Prod_1  SHP_6463  Cust_1597    174.62      0.10
163   Ord_4339   Prod_8  SHP_6047  Cust_1464    227.66      0.04
229   Ord_1776  Prod_16  SHP_2463   Cust_587    192.39      0.08
472   Ord_1093  Prod_13  SHP_1509   Cust_422    113.09      0.04
502   Ord_2875  Prod_13  SHP_3961  Cust_1060      8.87      0.03
...        ...      ...       ...        ...       ...       ...
8087  Ord_1552   Prod_8  SHP_2146   Cust_551    931.08      0.10
8213   Ord_732   Prod_8   SHP_997   Cust_241   1905.79      0.01
8236  Ord_4860   Prod_8  SHP_6782  Cust_1672    155.39      0.10
8345   Ord_760   Prod_8  SHP_1037   Cust_244    670.94      0.02
8395   Ord_669  Prod_14   SHP_916   Cust_224  20872.16      0.03

      Order_Quantity   Profit  Shipping_Cost  Product_Base_Margin  ...  \
63                18  -119.77           9.45                 0.60  ...
163               21  -100.16           6.50                 0.64  ...
229               19   -31.67           4.68                 0.59  ...
472               39    29.76           0.81                 0.40  ...
502                2    -6.79           3.50                 0.58  ...
...              ...      ...            ...                  ...  ...
8087              32   269.60           1.99                 0.50  ...
8213              46   675.65           1.99                 0.54  ...
8236               5  -127.70           5.50                 0.75  ...
8345              15    87.51           1.99                 0.55  ...
8395              29 -4437.91          24.49                 0.41  ...

     Customer_Segment Product_Category           Product_Sub_Category  \
63           CONSUMER  OFFICE SUPPLIES         STORAGE & ORGANIZATION
163         CORPORATE       TECHNOLOGY           COMPUTER PERIPHERALS
229         CORPORATE  OFFICE SUPPLIES  SCISSORS, RULERS AND TRIMMERS
472    SMALL BUSINESS  OFFICE SUPPLIES            PENS & ART SUPPLIES
502    SMALL BUSINESS  OFFICE SUPPLIES            PENS & ART SUPPLIES
...               ...              ...                            ...
8087   SMALL BUSINESS       TECHNOLOGY           COMPUTER PERIPHERALS
8213         CONSUMER       TECHNOLOGY           COMPUTER PERIPHERALS
8236      HOME OFFICE       TECHNOLOGY           COMPUTER PERIPHERALS
8345         CONSUMER       TECHNOLOGY           COMPUTER PERIPHERALS
8395        CORPORATE       TECHNOLOGY                COPIERS AND FAX

     Order_ID_x Order_Date Order_Priority  Order_ID_y    Ship_Mode  Ship_Date  \
63        36647 2009-06-30           HIGH       36647  REGULAR AIR 2009-07-03
163         929 2012-10-01           HIGH         929  REGULAR AIR 2012-10-04
229       52516 2012-01-05           HIGH       52516  EXPRESS AIR 2012-01-08
472       36675 2011-07-03           HIGH       36675  REGULAR AIR 2011-07-06
502       19494 2010-01-12           HIGH       19494  REGULAR AIR 2010-01-15
...         ...        ...            ...         ...          ...        ...
8087      39365 2012-05-14           HIGH       39365  EXPRESS AIR 2012-05-17
8213      13986 2011-10-11           HIGH       13986  REGULAR AIR 2011-10-14
8236       9505 2012-06-07           HIGH        9505  REGULAR AIR 2012-06-10
8345      21671 2010-06-15           HIGH       21671  REGULAR AIR 2010-06-18
8395      52035 2009-11-27           HIGH       52035  REGULAR AIR 2009-11-30

      deliveryDays
63          3 days
163         3 days
229         3 days
472         3 days
502         3 days
...            ...
8087        3 days
8213        3 days
8236        3 days
8345        3 days
8395        3 days

[97 rows x 23 columns]
 for not specified delivery orderid and product id is 1609    Ord_4507
Name: Ord_id, dtype: object

In [86]:
# 1.extract only the year from order date column  and create a data frame like below :
# ord_id year
#  1 2012
#  2 2012
#.....
# 2. create a  dataframe with year and number of orders
# 3. can we see improvments in the organisation growth ?
order_df=pd.DataFrame({"Ord_id":master_df['Ord_id'],"year":(pd.to_datetime(master_df['Order_Date'],format="%Y").dt.year)})

Years=order_df.groupby(['year'])['year'].count()
print("Year wise count of orders are")
print(Years)
Profit_Df=pd.DataFrame({"Profit":master_df['Profit'],"Year":pd.to_datetime(master_df["Order_Date"],format='%Y').dt.year})
print("Year wise profits are",Profit_Df.groupby(['Year'])['Profit'].sum())

Year wise count of orders are
year
2009    2153
2010    2142
2011    2002
2012    2102
Name: year, dtype: int64
Year wise profits are Year
2009    434538.73
2010    363871.48
2011    381455.99
2012    341901.78
Name: Profit, dtype: float64

In [87]:
# which is the product_name that corporate customers have ordered ?
print(master_df.loc[(master_df['Customer_Segment']=="CORPORATE")]['Product_Sub_Category'].drop_duplicates())

0        SCISSORS, RULERS AND TRIMMERS
1         TELEPHONES AND COMMUNICATION
2                                PAPER
30                COMPUTER PERIPHERALS
43                          APPLIANCES
44      BINDERS AND BINDER ACCESSORIES
52                           ENVELOPES
58                 PENS & ART SUPPLIES
71                  OFFICE FURNISHINGS
81                     OFFICE MACHINES
130                    COPIERS AND FAX
167             STORAGE & ORGANIZATION
199                             LABELS
236                             TABLES
441                 CHAIRS & CHAIRMATS
532                       RUBBER BANDS
1158                         BOOKCASES
Name: Product_Sub_Category, dtype: object